@import url(header.css);
:root{
    --fonte-principal:"oswaldo";
    --fonte-secundaria:""
    -cor-de-fundo: #2903ff;
    -cor-cabecalho: #ffffff;
}
body{
    background-color: var(-cor-de-fundo);
    margin: 0;
}