@import url(header.css);
:root{
    --fonte-principal:"oswaldo";
    --fonte-secundaria:"Orbitron";
    --cor-de-fundo: #0b19e8;
    -cor-cabecalho: #ffffff;
}
body{
    background-color: var(--cor-de-fundo);
    margin: 0;
}